body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 80px;
}

.header .headerlogo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    margin-right: auto;
}

.hero {
    display: flex;
    padding: 80px;
}

.header .links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    margin-left: auto;
}

.hero .awesome-text {
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
}

.hero .hero-subtext {
    color:#E5E7EB;
    margin-bottom: 16px;
    margin-right: 5px;
}

.heroimage {
    width: 300px;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
}

.button1 {
    background-color: #3882F6;
    border-radius: 4px;
    padding: 3 14px;
    color:#E5E7EB;
}

.part-one {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
}

.part-two {
    display: flex;
    flex-direction: column;
}

.random-title {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;

}

.pics-words {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    max-width: 100px;
}

.imgplace {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border-color: #3882F6;
    border: 4px solid;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: center;
    font-size: 12px;
    text-align: center;

}

.part-three {
    display: flex;
    flex-direction: column;
    background-color:#E5E7EB;
    padding: 120px;
    margin-top: 20px;

}

.quote-section {
    font-style: italic;
    font-weight: light;
    font-size: 36px;
    color: #1F2937;

}

.quote-thor {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
}

.part-four {
    display: flex;
    padding: 60px;
    align-items: center;
    justify-content: center;

}

.call-to-container {
    display: flex;
    background-color: #3882F6;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 8px;
}

.button2 {
    color:#E5E7EB;
    background-color: transparent;
    border-radius: 6px;
    border-color:#E5E7EB;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 80px;
}

.call-to-words {
    
}
